aiohttp==3.9.0
asyncssh==2.14.1
cryptography==41.0.6
crc==4.1.0
haipy==1.5.1
numpy==1.23.3
opencv-python==4.6.0.66
pandas==1.5.2
paramiko==3.4.0
Pillow==10.0.1
pycurl==7.45.2
pykeepass==4.0.3
pypandoc==1.11
pysnmp==4.4.12
PySocks==1.7.1
python-docx==0.8.11
pyzbar==0.1.9
pyzipper==0.3.6
requests==2.31.0
#requests-kerberos==0.14.0
requests-ntlm==1.2.0
requests-ntlm2==6.5.3
requests-pkcs12==1.15
rich==13.5.2
scapy==2.4.5
selenium==4.11.2
sslyze==5.2.0
stdiomask==0.0.4
tqdm==4.64.1
webdriver-manager==3.8.5
XlsxWriter==3.0.2
